/*       */
/* FONTS */
/*       */
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');
/* font-family: 'Anek Tamil', sans-serif; */

/*           */
/* IMPORTANT */
/*           */
:root {
    --white: #FFFFFF; /* White */
    --main: #F5F5F5; /* Grey 100 */
    --second: #EEEEEE; /* Grey 200 */
    --black: #000000; /* Black */
    --black-rgb: 0, 0, 0; /* Black RGB */
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Anek Tamil', sans-serif;
}

body {
    background-color: var(--main);
}

.wrapper {
    max-width: 85%;
    margin: 0 auto;
}

/*      */
/* HERO */
/*      */
.hero {
    height: 850px;
    color: white;
}

.heroinformation {
    font-size: 25px;
}

.hero p {
    font-size: 25px;
}

.hero a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

/*        */
/* NAVBAR */
/*        */
nav {
    position: fixed;
    background-color: rgba(var(--black-rgb), 1);
    color: var(--white);
    width: 100%;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: var(--white);
    padding: 0 10px 0 0;
    text-decoration: none;
}

.navbar h1 {
    padding: 0 25px 0 0;
    font-size: 21px;
}

.navbar h1 span {
    font-size: 21px;
    color: yellow;
}

.navleft {
    display: flex;
    align-items: center;
}

.navright {
    display: flex;
    align-items: center;
}

.navicons {
    margin: 0 10px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

/*               */
/* MOVIE SECTION */
/*               */
.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;
}

.rows {
    color: var(--black);
}

.movie {
    text-align: center;
    margin: 15px 5px 10px 5px;
    text-decoration: none;
    width: 390px;
}

.movie img {
    height: 200px;
    width: 390px;
    border-radius: 10px;
}

.movie a {
    text-decoration: none;
    color: var(--black);
}

.movie p {
    margin: -8px;
}

/*            */
/* MOVIE PAGE */
/*            */